@model Person
   
        <tr id="@("personId" + Model.Id)">
            <td>
                @Model.Name&nbsp;&nbsp;&nbsp;
            </td>
            <td> &nbsp;&nbsp;</td>
            <td>
                @Model.Country
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
                <a asp-controller="Persons" asp-action="Remove" asp-route-id="@Model.Id">Remove</a>
                <a data-target="modifyPerson" onclick="getPartialLink(event)" asp-controller="Persons" asp-action="PersonRenamePartial" asp-route-id="@Model.Id">Rename</a>
            </td>
        </tr>