@model IEnumerable<MVC_Assignment.Models.Person>

@{
    ViewData["Title"] = "Person Index";
}

<h1>Index</h1>

<p>@ViewBag.msg</p>

<a asp-action="Create">Create Person</a>
<a asp-action="Filter">Filter Person</a>

<div>
    <div>
        <button id="btnPartial">Ajax Partial Person</button>
    </div>

    <div id="targetPartial">

    </div>

    <div id="targetPartial2">

    </div>
</div>
<table>
    @foreach (Person aPartialPerson in Model)
    {
        <tr>
            <td>             
                <a id="aPartialPersonEdit" class="nav-link text-dark" asp-controller="Persons" asp-action="PersonPartialEdit" asp-route-id="@aPartialPerson.Id">Person Nr:@aPartialPerson.Id</a>               
            </td>
        </tr>

    }
</table>

<table>
    @foreach (Person aPerson in Model)
    {
        <tr>
            <td>
                Name: @aPerson.Name
                Country: @aPerson.Country

                <a asp-controller="Persons" asp-action="Remove" asp-route-id="@aPerson.Id">Remove Person</a>
            </td>
        </tr>
    }
</table>
