@model IEnumerable<MVC_Assignment.Models.Person>

@{
    ViewData["Title"] = "Person Index";
}

<h1>CRUD Persons</h1>

<p>@ViewBag.msg</p>

<a onclick="getPartialLink(event)" data-target="createPerson" asp-action="PersonCreatePartial" asp-controller="Persons">Partial Create Person</a>

<a asp-action="Create">Create Person</a>
<a asp-action="Filter">Filter Person</a>
<hr />

<div>

    <div id="createPerson">
        
    </div>

    @*<div>
        <a id="btnPartial">Ajax Partial Person</a>
    </div>*@

    <div id="targetPartial">

    </div>

    <div id="targetPartial2">

    </div>
</div>
<table>
    @*@foreach (Person aPartialPerson in Model)*@
    @*{*@
        <tr>
            <td>
                @*<a onclick="function()" id="aPartialPersonEdit" asp-controller="Persons" asp-action="PersonPartialEdit" asp-route-id="@aPartialPerson.Id" data-target="targetPartial2">Person Nr:@aPartialPerson.Id</a>*@
                @*<a onclick="partialLink(event)" data-target="targetPartial2" asp-controller="Persons" asp-action="PersonPartialId" asp-route-id="@aPartialPerson.Id">Person Nr:@aPartialPerson.Id</a>*@
            </td>
        </tr>

    @*}*@
</table>


     
      
@*<table id="personTable">
    <tr><td>Name:</td><td> &nbsp;&nbsp;</td> <td>Country:</td> <td>&nbsp;&nbsp;</td> <td> </td> </tr>
    @foreach (Person aPerson in Model)
    {
        <partial name="_AddToListpartial" model="aPerson"/>
        <tr @("personId" + aPerson.Id)>
        <td>
            @aPerson.Name
        </td>
        <td> &nbsp;&nbsp;</td>
        <td>
            @aPerson.Country
        </td>
        <td></td>
        <td>
            <a asp-controller="Persons" asp-action="Remove" asp-route-id="@aPerson.Id">Remove</a>
            <a onclick="getPartialLink(event)" asp-controller="Persons" asp-action="PersonRenamePartial">Rename</a>
        </td>
        </tr>
    }
</table>*@

<div>
    <div id="newListItem">
        @foreach (Person aPerson in Model)
        {
            <partial name="_AddToList" model="aPerson" />
        }
        </div>
</div>
