@model IEnumerable<MVC_Assignment.Models.Person>

@{
    ViewData["Title"] = "Person Index";
}

<h1>Index</h1>

<p>@ViewBag.msg</p>

<a onclick="partialLink(event)" data-target="createPerson" asp-action="Create" asp-controller="Persons">Create Person</a>
<a asp-action="Filter">Filter Person</a>

<div>

    <div id="createPerson">
        
    </div>

    <div>
        <a id="btnPartial">Ajax Partial Person</a>
    </div>

    <div id="targetPartial">

    </div>

    <div id="targetPartial2">

    </div>
</div>
<table>
    @foreach (Person aPartialPerson in Model)
    {
        <tr>
            <td>
                @*<a onclick="function()" id="aPartialPersonEdit" asp-controller="Persons" asp-action="PersonPartialEdit" asp-route-id="@aPartialPerson.Id" data-target="targetPartial2">Person Nr:@aPartialPerson.Id</a>*@
                <a onclick="partialLink(event)" data-target="targetPartial2" asp-controller="Persons" asp-action="PersonPartialEdit" asp-route-id="@aPartialPerson.Id">Person Nr:@aPartialPerson.Id</a>
            </td>
        </tr>

    }
</table>

<table>
    @foreach (Person aPerson in Model)
    {
        <tr>
            <td>
                Name: @aPerson.Name
                Country: @aPerson.Country

                <a asp-controller="Persons" asp-action="Remove" asp-route-id="@aPerson.Id">Remove Person</a>
            </td>
        </tr>
    }
</table>
